<div class="container">

<% @posts.each do |post| %>
<h3><%= link_to post.title,post.link%></h3>
<p><b><%= post.submitted_by %></b></p>
<% end %>

<br>
<p class = "add"><%= link_to 'Add New Link', new_post_path %></p>
</div>
