@import 'bootstrap-sprockets';
@import 'bootstrap';


.header{
  background: #CEE3F8;
  max-height: 55px;
  padding-top:5px;

}

.container{
  margin-top: 20px;
}

.col-md-2{
  margin-top: 15px;
}
.col-md-1{
  margin-top: 15px;
}

 p {
    font-size: 15px;
  }
  img {
    height: 5em;
  }
