<div class="outer">
<div class="header">
<%= link_to image_tag('https://upload.wikimedia.org/wikipedia/en/thumb/b/b4/Reddit_logo.svg/1280px-Reddit_logo.svg.png', style:"height: 50px; padding:0 5px 5px 5px;"), root_path %>
</div><div class="new">
  <%= link_to "New Post", new_post_path, class: "btn btn-default" %>
</div>

</div>
